/* Transition examples */

.color {
    color: red;
}

.color:hover {
    color: blue;
}


.color {
    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out; 
}



.size {
    width: 300px;
    height: 300px;
    padding: 20px;
    background-color: #eee;
    color: #333;
}

.size:hover {
    width: 400px;
    height: 400px;
}

.size {
    transition-property: height width;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out; 
}


.opacity {
    padding: 20px;
    background-color: #eee;
    color: #333;
    opacity: 1;
}

.opacity:hover {
    opacity: 0.3;
}

.opacity {
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out; 
}


.all {
    padding: 20px;
    width: 300px;
    height: 300px;
    background-color: #eee;
    color: #333;
    opacity: 1;
    margin-bottom: 600px;
}

.all:hover {
    opacity: 0.3;
    width: 400px;
    height: 400px;
    color: blue;
}

.all {
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out; 
}




/* Boiler plate styles */

* {
    box-sizing: border-box;
}

main {
    max-width: 1000px;
    margin: auto;
}

main div {
    font-size: 28px;
}

h3 {
    border-bottom: solid 1px #ddd;
    padding-bottom: 10px;
    margin-top: 40px;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    color: #222;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    padding-bottom: 600px;
}

img {
    display: block;
    max-width: 100%;
}

