/* Layout styles */

main {
    max-width: 1400px;
    margin: auto;
}

.my-parent {
    border: solid 4px grey;
}

.my-div-left {
    border: solid 4px #4ba7e8;
    padding: 20px;
    width: 50%;
    float: left;
}

.my-div-right {
    border: solid 4px red;
    padding: 20px;
    width: 300px;
    float: right;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}


/* Boiler plate styles */

* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    color: #222;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

