label {
    width: 200px;
    float: left;
    padding-right: 10px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
}

label span {
    float: right;
    color: #999;
    font-size: 20px;
}

.text-field {
    height: 30px;
    line-height: 30px;
    border: solid 1px #bbb;
    border-radius: 1px;
    box-shadow: inset 0 1px 4px #ddd;
}

.button {
    color: #fff;
    background-color: #0275d8;
    border: solid 1px #0275d8;
    border-radius: 3px;
    font-size: 16px;
    padding: 0 20px;
    height: 30px;
}


p {
    overflow: hidden;
    border-bottom: solid 1px #eee;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
}

p:last-child {
    border: none;
}


/* Boiler plate styles */

* {
    box-sizing: border-box;
}

main {
    margin: auto;
    max-width: 600px;
    margin-top: 100px;
    padding: 20px;
    background-color: #fff;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    color: #222;
    background-color: #eee;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

img {
    display: block;
    max-width: 100%;
}