/* 3D Transform examples */

.container {
    height: 240px;
    text-align: center;
    margin-bottom: 200px;
    padding: 20px 0;
    border: solid 2px #ddd;
    border-left: 0;
    border-right: 0;
}

/* Required for 3d transforms */
.container {
    transform-style: preserve-3d;
    perspective: 600px;
    perspective-origin: center 0;
}

.item {
    display: inline-block;
    margin-right: 20px;
    width: 300px;
    height: 200px;
    padding: 30px;
    background-color: white;
    border: solid 2px #ddd;
    vertical-align: bottom;
}

.item:last-child {
    margin-right: 0;
}

.item.transition {
    transition-property: transform;
    transition-duration: 0.3s;
    transform: none;
}

/* Tranformations */

.close {
    transform: translateZ(100px);
}

.close.rotated {
    transform: translateZ(100px) rotateX(20deg) rotateY(20deg);
}

.rotated-y {
    transform: rotateY(40deg);
}

.far {
    transform: translateZ(-200px);
}

.far.rotated {
    transform: translateZ(-100px) rotateZ(20deg);
}

/* Transition */

.item.transition-combo:hover {
    transform: translateZ(200px) rotateX(30deg) rotateY(20deg);
}

.item.transition-rotate-y:hover {
    transform: rotateY(30deg);
}

.item.transition-rotate-x:hover {
    transform: rotateX(30deg);
}

/* Boiler plate styles */

* {
    box-sizing: border-box;
}

main {
    max-width: 1000px;
    margin: auto;
}

main .container {
    font-size: 28px;
}

h3 {
    position: relative;
    padding-bottom: 10px;
    margin-top: 40px;
    z-index: 999;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    color: #222;
    background-color: #eee;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    padding-bottom: 600px;
}

img {
    display: block;
    max-width: 100%;
}

