/* Layout styles */

main {
    max-width: 600px;
    margin: auto;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 60px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Note color code; Red, Green, Blue and Alpha */
    background: white;
    text-align: center;
    line-height: 60px;
    font-weight: bold;
    color: #ccc;
}

.my-div {
    font-size: 18px;
    line-height: 22px;
    margin-top: 120px;
}


/* Boiler plate styles */

* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    color: #222;
    background-color: #eee;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

